In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("dataset w7.csv")

In [3]:
data

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

# 1. Carry out descriptive analytics on the dataset

In [4]:
data.isna().sum()

Gender              0
Test preparation    0
Total Marks         0
dtype: int64

In [5]:
mean=data['Total Marks'].mean()
mean

32.32142857142857

In [6]:
std=data["Total Marks"].std()
std

12.454520438984368

In [7]:
c=data["Gender"].value_counts()
c

female    16
male      12
Name: Gender, dtype: int64

# 2. Check whether female and male students scored the same marks

In [8]:
from scipy.stats import ttest_ind
#H0:males and females score same marks
#H1:males and females score different marks
male=data[data["Gender"]=="male"][['Total Marks']]
female=data[data["Gender"]=="female"][['Total Marks']]
_,p =ttest_ind(male,female)
alpha=0.05
if p >alpha:
    print('Accept the null hypothesis(H0)')
else:
        print('Reject null hypothesis(H0)')

Accept the null hypothesis(H0)

CONCLUSION:Based on the given data we accepted the null hypothesis
OUTCOME:Males and Females score same maarks

# 3. Whether test preparation helps the students?

In [9]:
#H0:test preparation helped the students
#H1:test preparation didnt helped students
tc=data[data["Test preparation"]=="completed"][['Total Marks']]
tn=data[data["Test preparation"]=="none"][['Total Marks']]
_,p=ttest_ind(tc,tn)
alpha=0.05
print("p value",p)
print("t_score",_)
if p >alpha:
    print('Accept null hypothesis')
else:
    print('Reject null')

p value [0.00126713]
t_score [3.61436375]
Reject null

CONCLUSION:Based on the test we reject null hypothesis.
OUTCOME:Test preparation didnt help students