In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_train=pd.read_csv('train_LZdllcl.csv')
data_test=pd.read_csv('test_2umaH9m.csv')
data_train.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [3]:
data_test.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,Technology,region_26,Bachelor's,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51
2,72255,Sales & Marketing,region_13,Bachelor's,m,other,1,31,1.0,4,0,0,47
3,38562,Procurement,region_2,Bachelor's,f,other,3,31,2.0,9,0,0,65
4,64486,Finance,region_29,Bachelor's,m,sourcing,1,30,4.0,7,0,0,61

In [4]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           54808 non-null  int64
 1   department            54808 non-null  object
 2   region                54808 non-null  object
 3   education             52399 non-null  object
 4   gender                54808 non-null  object
 5   recruitment_channel   54808 non-null  object
 6   no_of_trainings       54808 non-null  int64
 7   age                   54808 non-null  int64
 8   previous_year_rating  50684 non-null  float64
 9   length_of_service     54808 non-null  int64
 10  KPIs_met >80%         54808 non-null  int64
 11  awards_won?           54808 non-null  int64
 12  avg_training_score    54808 non-null  int64
 13  is_promoted           54808 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [5]:
data_train.shape

(54808, 14)

In [6]:
data_test.shape

(23490, 13)

In [7]:
def missing_data_count(df):
     print(df.isna().sum())
missing_data_count(data_train)

missing_data_count(data_test)

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64
employee_id                0
department                 0
region                     0
education               1034
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    1812
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
dtype: int64

In [8]:
def fill_missing(df, column, value):
    df_copy = df.copy()
    df_copy[column].fillna(value=value,inplace=True)
    return df_copy

data_train= fill_missing(data_train, "education", "others")
data_test= fill_missing(data_test, "education", "others")

data_train = fill_missing(data_train, "previous_year_rating", 0.0)
data_test = fill_missing(data_test, "previous_year_rating", 0.0)

In [9]:
data_train.isna().sum()
data_test.isna().sum()

employee_id             0
department              0
region                  0
education               0
gender                  0
recruitment_channel     0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
dtype: int64

In [10]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           54808 non-null  int64
 1   department            54808 non-null  object
 2   region                54808 non-null  object
 3   education             54808 non-null  object
 4   gender                54808 non-null  object
 5   recruitment_channel   54808 non-null  object
 6   no_of_trainings       54808 non-null  int64
 7   age                   54808 non-null  int64
 8   previous_year_rating  54808 non-null  float64
 9   length_of_service     54808 non-null  int64
 10  KPIs_met >80%         54808 non-null  int64
 11  awards_won?           54808 non-null  int64
 12  avg_training_score    54808 non-null  int64
 13  is_promoted           54808 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [11]:
data_train.describe()

,employee_id,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
count,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000
mean,39195.830627,1.253011,34.803915,3.078748,5.865512,0.351974,0.023172,63.386750,0.085170
std,22586.581449,0.609264,7.660169,1.496458,4.265094,0.477590,0.150450,13.371559,0.279137
min,1.000000,1.000000,20.000000,0.000000,1.000000,0.000000,0.000000,39.000000,0.000000
25%,19669.750000,1.000000,29.000000,2.000000,3.000000,0.000000,0.000000,51.000000,0.000000
50%,39225.500000,1.000000,33.000000,3.000000,5.000000,0.000000,0.000000,60.000000,0.000000
75%,58730.500000,1.000000,39.000000,4.000000,7.000000,1.000000,0.000000,76.000000,0.000000
max,78298.000000,10.000000,60.000000,5.000000,37.000000,1.000000,1.000000,99.000000,1.000000

In [12]:
data_train1=data_train.drop(['recruitment_channel','region','education','gender','employee_id'],axis=1)
data_test1=data_test.drop(['recruitment_channel','region','education','gender','employee_id'],axis=1)

In [13]:
#label encoding for department
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
data_train1['department']=le.fit_transform(data_train1['department'])
data_test1['department']=le.fit_transform(data_test1['department'])

In [14]:
#splitting the data
x= data_train1.drop(['is_promoted'],axis=1)
y=data_train1['is_promoted']

In [35]:
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [36]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_valid = sc.transform(x_valid)
x_test = sc.transform(x_test)

In [37]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y, random_state=42, test_size= 0.2)
from sklearn.linear_model import LogisticRegression
logit_model=LogisticRegression()
logit_model.fit(x_train,y_train)
y_pred=logit_model.predict(x_valid)

In [38]:
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, precision_score, f1_score
print('Accuracy is:',accuracy_score(y_valid,y_pred))
print('Precision is:', precision_score(y_valid, y_pred))
print('Recall is:', recall_score(y_valid, y_pred))
print('F1 score is:', f1_score(y_valid, y_pred))

Accuracy is: 0.9184455391351943
Precision is: 0.6134453781512605
Recall is: 0.07926167209554831
F1 score is: 0.14038461538461536

In [39]:
#KNN model
from sklearn.neighbors import KNeighborsClassifier
acc_values=[]
neighbors=np.arange(3,15)
for k in neighbors:
    classifier=KNeighborsClassifier(n_neighbors=k,metric='minkowski')
    classifier.fit(x_train,y_train)
    y_predi=classifier.predict(x_valid)

In [40]:
classifier=KNeighborsClassifier(n_neighbors=5,metric='minkowski')
classifier.fit(x_train,y_train)
y_predi=classifier.predict(x_valid)

In [41]:
print('Accuracy is:', accuracy_score(y_valid, y_predi))
print('Precision is:', precision_score(y_valid, y_predi))
print('Recall is:', recall_score(y_valid, y_predi))
print('F1 score is:', f1_score(y_valid, y_predi))

Accuracy is: 0.9374201787994891
Precision is: 0.821917808219178
Recall is: 0.3257328990228013
F1 score is: 0.46656298600311047

In [42]:
#SVM model
from sklearn.svm import SVC
svm_linear=SVC(kernel='linear')
svm_linear.fit(x_train,y_train)
y_predic=svm_linear.predict(x_valid)

In [43]:
print('Accuracy is:',accuracy_score(y_valid,y_predic))
print('Precision is:', precision_score(y_valid, y_predic))
print('Recall is:', recall_score(y_valid, y_predic))
print('F1 score is:', f1_score(y_valid, y_predic))

Accuracy is: 0.9159824849480022
Precision is: 0.0
Recall is: 0.0
F1 score is: 0.0

C:\Users\Muhammed Jaffer\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [46]:
#Random forest classifier
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(x_train,y_train)
y_predict= rf.predict(x_valid)

In [47]:
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, precision_score, f1_score
print('Accuracy is:',accuracy_score(y_valid,y_pred))
print('Precision is:', precision_score(y_valid, y_predict))
print('Recall is:', recall_score(y_valid, y_predict))
print('F1 score is:', f1_score(y_valid, y_predict))

Accuracy is: 0.9184455391351943
Precision is: 0.9383202099737533
Recall is: 0.7763300760043431
F1 score is: 0.8496732026143791

In [51]:
y_predicts = rf.predict(data_test1)

C:\Users\Muhammed Jaffer\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

In [52]:
rs=pd.DataFrame({'employee_id':data_test['employee_id'],'is_promoted':y_predicts})
rs

       employee_id  is_promoted
0             8724            1
1            74430            1
2            72255            1
3            38562            1
4            64486            1
...            ...          ...
23485        53478            1
23486        25600            1
23487        45409            1
23488         1186            1
23489         5973            1

[23490 rows x 2 columns]

In [53]:
rs.to_csv('result.csv',index=False)